extends layout

block content

  h1 Log In Page

  a(href='/')
    button Home
  form.form(action='/login' method='post')
    label(for='username') Username:
    input(type='text' id='username' placeholder='miketyson' name='username' required='true')
    label(for='password') Password:
    input(type='password' id='password' placeholder='********' name='password' required='true')
    button(type='submit') Log In

  if messages.length
    ul
      each message in messages
        li=message